<h1 class="text-center">PEDIDOS A COCINAR</h1>
<div class="container mt-3">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Numero</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        
      @for( order of lstOrders; track $index){
        @if(order.status == 'pending'){
        <tr>
        <td>{{order.num}}</td>
        <td>{{order.name}}</td>
        <td>{{order.description}}</td>
        <td>{{order.status}}</td>
        <button type="button" class="btn btn-primary" (click)="cookOrder(order)">Cook</button>
    </tr>
    }
    
      }
    </tbody>
  </table>
</div>

<div class="container mt-5">
    <h1 class="text-center">LISTOS</h1>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Numero</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
          
        @for( order of lstOrders; track $index){
          @if(order.status == 'cooking'){
          <tr>
          <td>{{order.num}}</td>
          <td>{{order.name}}</td>
          <td>{{order.description}}</td>
          <td>{{order.status}}</td>
          
      </tr>
      
      }
        }
        
        <div class=" col-12 justify-content-center align-items-center">
            <div class="col-12 text-center">
        <button type="button" class="btn btn-success" (click)="toDelivery()">FINISHED!</button>
        </div>
        </div>

      </tbody>
    </table>
  </div>